
body {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    font-family: Dosis !important;
    background-image: url("IMG/Background\ Image.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
  }
  html body {
      margin: 0;
      padding: 0;
  }

header {
    z-index: 9999;
    position: sticky;
    top: 0;
    min-width: 110%;
    display: inline-block;
}
header nav {
    width: 100%;
    height: 50px;
    background: #ffffff;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 50px;
    display: inline-block;
}
nav ul {
    display: flex;
    margin: 0;
    padding: 0 10%;
    float: right;

}
nav ul li {
    list-style: none;
    color: black;
    font-size: 1.5em;  
}
.carousel-inner {
    text-align: center;
}
.carousel .item > img {
    display: inline-block;
}
div.heading {
    text-align: center;
}
div.heading h1 {
    font-size: 4em;
    letter-spacing: 2px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: Playfair !important;
    display: inline-block;
    
}
div.header img {
    width: 100%;
    height: auto;
    float: left;
}
div.footer img {
    width: 100%;
    height: auto;
    float: left;
    padding-top: 100px;
}
section.module {
    width: 100%;
    height: 400px;
    background-color: rgba(211, 211, 211, 0.4);
    border: 1px solid rgba(131, 131, 131, 0.322);
}
div#about-p {
    width: 40%;
    text-align: justify;
    max-height: 400px;
    float: left;
    padding-top: 20px;
    padding-left: 50px;
}
div#image-right img {
    width: 32%;
    height: auto;
    float: right;
    padding-top: 40px;
    padding-right: 50px;
}
body {
    color: #635959;
    font-family: Dosis !important;
    font-size: 1.6em;
}
h4 {
    font-size: 2em;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
  }
@font-face {
    font-family: Playfair;
    src: url(Fonts/Playfair/PlayfairDisplay-Regular.ttf);

}
@font-face {
    font-family: Dosis;
    src: url(Fonts/Dosis/Dosis-Light.ttf);}